html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.Sidebar {
  height: 100vh;
  width: 250px;
  background-color: #2d445d;
}
.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

li {
  list-style: none;
  width: 100%;
  height: 60px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #3b627a;
    }
    &.active {
      background-color: #3b627a;
    }
  }

  #icon {
    flex: 30%;
    display: grid;
    place-items: center;
  }
  #title {
    flex: 70%;
  }
}
